<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <ul
    class="navbar-nav  sidebar sidebar-dark accordion"
    style="background-color: #05582D;"
    id="accordionSidebar"
  >
    <!-- Sidebar - Brand -->
    <a
      class="sidebar-brand d-flex align-items-center justify-content-center"
      routerLink="/admin/dashboard"
    >
      <div class="sidebar-brand-icon ">
        <i class="fas fa-home"></i>
      </div>
      <div class="sidebar-brand-text mx-3">SOGEMPAL</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0" />

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a
        class="nav-link"
        routerLink="/admin/dashboard"
        routerLinkActive="activeLink"
      >
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a
      >
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider" />

    <!-- Heading -->
    <div class="sidebar-heading">
      Gestion de boutique
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        routerLink="/admin/products"
        routerLinkActive="activeLink"
      >
        <i class="fas fa-pallet"></i>
        <span> Produits</span>
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        routerLink="/admin/orders"
        routerLinkActive="activeLink"
      >
        <i class="fas fa-clipboard-list"></i>
        <span> Commandes</span>
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        routerLink="/admin/users"
        routerLinkActive="activeLink"
      >
        <i class="fas fa-users"></i>
        <span> Clients</span>
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        routerLink="/admin/contacts"
        routerLinkActive="activeLink"
      >
        <i class="fas fa-envelope-open-text"></i>
        <span> Contacts</span>
      </a>
    </li>
  </ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <app-dash-header></app-dash-header>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">CONTACTS</h1>
        </div>

        <!-- Content Row -->
        <div class="row">
          <div class="card-body">
            <div class="table-responsive">
              <table
                class="table table-hover table-borderless"
                width="100%"
                cellspacing="0"
                datatable
                [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger"
                id="contactsData"
              >
                <thead class="thead-dark">
                  <tr>
                    <th>Nom complet</th>
                    <th>Email</th>
                    <th>Sujet</th>
                    <th>Date</th>
                  </tr>
                </thead>

                <tbody class="table-striped">
                  <tr
                    *ngFor="let contact of contacts; let i = index"
                    [class]="contact.msgState === 'read' ? 'table-dark' : ''"
                    style="cursor: pointer;"
                    data-toggle="modal"
                    [attr.data-target]="'#contactModal' + i"
                    (click)="onUpdateState(contact)"
                  >
                    <td>
                      {{ contact.name | uppercase }}
                    </td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.subject }}</td>
                    <td>{{ contact.sentDate }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Content Row -->
        <div class="row"></div>

        <!-- Content Row -->
        <div class="row">
          <!-- Content Column -->
          <div class="col-lg-6 mb-4"></div>

          <div class="col-lg-6 mb-4"></div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; SOGEMPAL 2019</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Logout Modal-->
<div
  class="modal fade"
  id="logoutModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Prêt à partir?</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Sélectionnez "Déconnexion" ci-dessous si vous êtes prêt à mettre fin à
        votre session en cours.
      </div>
      <div class="modal-footer">
        <button class="btn my-btn-sec" type="button" data-dismiss="modal">
          Annuler
        </button>
        <button class="btn my-btn" (click)="authService.SignOut()">
          Déconnexion
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Contacts Modal-->
<div
  *ngFor="let contact of contacts; let i = index"
  class="modal fade"
  [id]="'contactModal' + i"
  tabindex="-1"
  role="dialog"
  aria-labelledby="orderModal"
  aria-hidden="true"
  style="overflow-y: scroll;"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Prêt à partir?</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            <h4>
              Envoyé par : <strong>{{ contact.name }}</strong>
            </h4>
            <h4>
              Adresse e-mail : <strong>{{ contact.email }}</strong>
            </h4>
            <h4>
              Le Sujet : <strong>{{ contact.subject }}</strong>
            </h4>
          </div>
          <div class="col-lg-4 col-md-4">
            <h4>
              Reçu le : <strong>{{ contact.sentDate }}</strong>
            </h4>
          </div>
        </div>
        <hr />

        <div style="margin:25px;">
          <label>Contenu : </label>
          <p style="font-size: 18px;">{{ contact.msgContent }}</p>
        </div>
        <br />
        <angular-editor
          [placeholder]="'Enter text here...'"
          [(ngModel)]="htmlMsgContent"
        ></angular-editor>
        <div class="html">
          {{ htmlMsgContent }}
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn my-btn">
          <i class="fas fa-reply"> </i> Répondre
        </button>
      </div>
    </div>
  </div>
</div>
