<app-header></app-header>
<br />
<div class="container " style="margin-top:10px; min-height: 315px;">
  <p id="breadcrumb">
    <a [routerLink]="['/accueil']"><i class="fas fa-home"></i> Accueil</a>
    Panier
  </p>
  <table id="cart" class="table table-hover table-condensed table-responsive">
    <div id="panier" *ngIf="shopList.length !== 0">
      <thead>
        <tr>
          <th style="width:60%">Produit</th>
          <th style="width:10%">Prix</th>
          <th style="width:8%">Quantité</th>
          <th style="width:22%" class="text-center">Sous-total</th>
          <th style="width:10%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prod of shopList; let i = index">
          <td data-th="Product">
            <div class="row">
              <div class="col-sm-10">
                <h6 class="nomargin">
                  <span
                    ><img
                      src="https://firebasestorage.googleapis.com/v0/b/sogempal-33bb7.appspot.com/o/img%2F{{
                        prod.image.name
                      }}?alt=media&token=8d725787-23d4-4b94-9f27-b21881e131c0"
                      class="rounded img-fluid img-produit-panier"/></span
                  >{{ prod.name }}
                </h6>
              </div>
            </div>
          </td>
          <td class="align-middle" data-th="Price" id="unitaire{{ i }}">
            {{ prod.price | number: '1.2' }} TND
          </td>
          <td class="align-middle" data-th="Quantity">
            <input
              type="number"
              name="quantity"
              #quantity
              id="qte{{ i }}"
              (change)="updateCart(i, quantity.value)"
              class="form-control text-center"
              value="{{ prod.quantity }}"
              min="1"
              max="100"
            />
          </td>

          <td
            data-th="Subtotal"
            class="text-center align-middle"
            id="subTotal{{ i }}"
          >
            {{ prod.price * prod.quantity | number: '1.2' }} TND
          </td>
          <td class="actions align-middle" data-th="">
            <button
              class="btn btn-danger btn-sm"
              (click)="onRemoveSlProduct(i)"
            >
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </div>
  </table>

  <div class="alert alert-panier" role="alert" *ngIf="shopList.length === 0">
    Le panier est vide! ajouter des produits s'il vous plaît.
  </div>
  <div *ngIf="shopList != null" style="text-align: right;">
    <strong *ngIf="shopList.length !== 0" id="totalPrice"
      >Total : {{ totalPrice | number: '1.2' }} TND</strong
    >
    <br /><br />
    <div class="row">
      <div class="float-left">
        <a routerLink="/palettes" class="btn btn-retour"
          ><i class="fa fa-angle-left"></i> Continuer l'achat</a
        >
      </div>

      <div class="btn-checkout-box">
        <button
          (click)="onCheckout()"
          class="btn btn-checkout"
          [class.disabled]="shopList.length === 0"
        >
          Passer la commande <i class="fa fa-angle-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<br />
<br />

<app-footer></app-footer>
