<app-header></app-header>
<br />
<div class="container" style="margin-top:160px;">
  <p id="breadcrumb">
    <a [routerLink]="['/accueil']"><i class="fas fa-home"></i> Accueil</a>
    Palettes en bois
  </p>
  <table id="cart" class="table table-hover table-condensed table-responsive ">
    <div id="panier" *ngIf="shopList.length !== 0">
      <thead>
        <tr>
          <th style="width:50%">Produit</th>
          <th style="width:10%">Prix</th>
          <th style="width:8%">Quantité</th>
          <th style="width:22%" class="text-center">Sous-total</th>
          <th style="width:10%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prod of shopList; let i = index">
          <td data-th="Product">
            <div class="row">
              <div class="col-sm-10">
                <h4 class="nomargin">{{ prod.name }}</h4>
                <p>{{ prod.description }}.</p>
              </div>
            </div>
          </td>
          <td data-th="Price" id="unitaire{{ i }}">
            {{ prod.price | currency }}
          </td>
          <td data-th="Quantity">
            <input
              type="number"
              name="quantity"
              #quantity
              id="qte{{ i }}"
              (change)="updateCart(i, quantity.value)"
              class="form-control text-center"
              value="{{ prod.quantity }}"
              min="1"
            />
          </td>

          <td data-th="Subtotal" class="text-center" id="subTotal{{ i }}">
            {{ prod.price * prod.quantity | currency }}
          </td>
          <td class="actions" data-th="">
            <button
              class="btn btn-danger btn-sm"
              (click)="onRemoveSlProduct(i)"
            >
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </div>
    <div
      class="alert alert-primary "
      role="alert"
      *ngIf="shopList.length === 0"
    >
      Le panier est vide! ajouter des produits s'il vous plaît.
    </div>
    <tfoot>
      <tr>
        <td>
          <a routerLink="/palettes" class="btn btn-warning"
            ><i class="fa fa-angle-left"></i> Continuer votre achat</a
          >
        </td>
        <td colspan="2" class="hidden-xs"></td>
        <td *ngIf="shopList.length !== 0" class="hidden-xs text-center">
          <strong id="totalPrice"> {{ totalPrice | currency }}</strong>
        </td>
        <td>
          <a
            (click)="onCheckout()"
            class="btn btn-success btn-block"
            [class.disabled]="shopList.length === 0"
            >Passer la commande <i class="fa fa-angle-right"></i
          ></a>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<app-footer></app-footer>
