<footer
  class="section footer-classic context-dark bg-image"
  style="background: #044021;"
>
  <!--Icons Start-->
  <div
    class="row no-gutters social-container"
    style="background-color: #05582d;"
  >
    <div class="col">
      <a class="social-inner"
        ><span class="icon mdi mdi-facebook"></span
        ><span
          ><img
            src="../../../assets/img/svg-icons/pallet-white.svg"
            alt="pallete"
            style="width:3.3em;height: 3.3em;"
          />
          &nbsp; Experise du bois</span
        ></a
      >
    </div>

    <div class="col">
      <a class="social-inner"
        ><span class="icon mdi mdi-facebook"></span
        ><span
          ><img
            src="../../../assets/img/svg-icons/saw-white.svg"
            alt="pallete"
            style="width:3em;height: 3em;"
          />
          &nbsp; ÉQUIPEMENTS À LA POINTE</span
        ></a
      >
    </div>

    <div class="col">
      <a class="social-inner"
        ><span class="icon mdi mdi-facebook"></span
        ><span
          ><img
            src="../../../assets/img/svg-icons/stopwatch-white.svg"
            alt="pallete"
            style="width:3em;height: 3em;"
          />
          &nbsp; FABRICATION EXPRESS SOUS 24H</span
        ></a
      >
    </div>
  </div>
  <!-- Icons End-->

  <!-- Bottom Footer Start-->
  <div class="container row no-gutters social-container bottom-footer">
    <div class="col-md-9 col-xs-12">
      <p>
        <span
          ><a href="#" class="bottom-footer-link">
            <img
              class="bottom-footer-link-img"
              src="../../../assets/img/svg-icons/right-arrow-brown.svg"
              alt="contact"
              style="margin-top:-3px; width:10px; height:10px;"
            />
            Accueil</a
          ></span
        >
        <span style="display:inline-block; width: 15px;"></span>
        <span
          ><a href="#">
            <img
              src="../../../assets/img/svg-icons/right-arrow-brown.svg"
              alt="contact"
              style="margin-top:-3px; width:10px; height:10px;"
            />
            Qui sommes-nous?</a
          ></span
        >
        <span style="display:inline-block; width: 15px;"></span>
        <span
          ><a href="#">
            <img
              src="../../../assets/img/svg-icons/right-arrow-brown.svg"
              alt="contact"
              style="margin-top:-3px; width:10px; height:10px;"
            />
            Contactez-nous</a
          ></span
        >
        <span style="display:inline-block; width: 15px;"></span>
        <span
          ><a href="#">
            <img
              src="../../../assets/img/svg-icons/right-arrow-brown.svg"
              alt="contact"
              style="margin-top:-3px; width:10px; height:10px;"
            />
            Realisations</a
          ></span
        >
      </p>
    </div>
    <!-- Desktop-->
    <div
      class=" d-none d-md-block col-md-3 ml-auto text-right bottom-footer-copyright"
    >
      <span>©2019 www.sogempal.tn</span>
    </div>
  </div>
  <!--Mobile-->
  <div
    class=" d-xs-block d-sm-none col-xs-12 text-center bottom-footer-copyright"
  >
    <span>©2019 www.sogempal.tn</span>
  </div>

  <!-- Bottom Footer End -->
</footer>
