.banner {
  background-image: url('../../../assets/img/home-banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  display: flex;
  /* align-items: ; */
}

.banner-btn {
  background-color: #127441;
  color: #fff;

  font-size: 17px;
  margin-top: 20px;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

/* Mobile */
@media screen and (max-width: 767px) {
  h1#banner-title {
    margin-top: -35px;
    font-size: 30px !important;
  }
}

section .section-title {
  text-align: center;
  color: #127441;
  margin-bottom: 50px;
  text-transform: uppercase;
}
section .section-divider {
  margin-left: 42.4%;
  border: #127441 3px solid;
  width: 200px;
}

/* second section */
.mt-60 {
  margin-top: 60px;
}

.section-block-grey {
  padding: 90px 0px 90px 0px;
  background-color: #f9f9f9;
}

.serv-section-2 {
  position: relative;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);
  border-radius: 5px;
  overflow: hidden;
  padding: 30px;
}

.serv-section-2:before {
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 0;
  content: ' ';
  width: 120px;
  height: 120px;
  background: #f5f5f5;
  border-bottom-left-radius: 136px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.serv-section-2-icon {
  position: absolute;
  top: 18px;
  right: 22px;
  max-width: 100px;
  z-index: 1;
  text-align: center;
}

.serv-section-2-icon i {
  color: #c08e58;
  font-size: 48px;
  line-height: 65px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.serv-section-desc {
  position: relative;
}

.serv-section-2 h4 {
  color: #333;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}

.serv-section-2 h5 {
  color: #333;
  font-size: 17px;
  font-weight: 400;
  line-height: 1;
  margin-top: 5px;
}

.section-heading-line-left {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background: #c08e58;
  border-radius: 25%;
  margin-top: 15px;
  margin-bottom: 5px;
}

.serv-section-2 p {
  margin-top: 25px;
  padding-right: 50px;
}

.serv-section-2:hover .serv-section-2-icon i {
  color: #fff;
}

.serv-section-2:hover:before {
  background: #c08e58;
}
