<app-header></app-header>

<div style="margin-top:160px;">
  <!-- Banner Begin-->
  <div id="carouselContent" class="carousel slide banner" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div
        class="carousel-item active text-center p-4"
        style="margin-top: 125px;"
      >
        <h1 style="color: white!important; font-size: 40px;">
          UNE SÉLECTION DE PALETTES DANS LES DIMENSIONS LES PLUS COURANTES !
        </h1>
        <button class="btn btn-default banner-btn">
          lets go <i class="fas fa-arrow-right"></i>
        </button>
      </div>
      <div class="carousel-item text-center p-4" style="margin-top: 125px; ">
        <h1 style="color: white!important; font-size: 40px;">
          POUR TRANSPORTER DES OBJETS FRAGILES, LA CAISSE EN BOIS EST L’UNE DES
          MEILLEURES SOLUTIONS !
        </h1>
        <button class="btn btn-default banner-btn">
          lets go <i class="fas fa-arrow-right"></i>
        </button>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselContent"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselContent"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Banner End-->

  <h1>Some text to enable scrolling</h1>
  <h1>Some text to enable scrolling</h1>
  <h1>Some text to enable scrolling</h1>
  <h1>Some text to enable scrolling</h1>
  <h1>Some text to enable scrolling</h1>
  <h1>Some text to enable scrolling</h1>
  <h1>Some text to enable scrolling</h1>
  <h1>Some text to enable scrolling</h1>
  <h1>Some text to enable scrolling</h1>
  <h1>Some text to enable scrolling</h1>
  <h1>Some text to enable scrolling</h1>
</div>
<app-footer></app-footer>
