<app-header></app-header>
<br />
<div class="container" style="margin-top:10px;">
  <div>
    <div class="mt-5 mb-5 text-center">
      <h2>ETAPE : 2</h2>
    </div>
    <ul class="step d-flex flex-nowrap">
      <li class="step-item ">
        <a class="">Adresse</a>
      </li>
      <li class="step-item active">
        <a class="">Paiement</a>
      </li>
      <li class="step-item ">
        <a class="Reçu de paiement">Reçu de paiement</a>
      </li>
    </ul>
  </div>
</div>

<hr />
<!--End steps-->

<div class="container d-flex justify-content-center">
  <form
    class="col-md-6 col-lg-6 card"
    style="padding: 50px;"
    (ngSubmit)="onSubmit(f2)"
    #f2="ngForm"
  >
    <div class="form-group">
      <label for="cardNumber"> NUMERO DE CARTE</label>
      <div class="input-group">
        <input
          type="number"
          class="form-control"
          placeholder="Enter le numero de votre carte"
          [(ngModel)]="paymentInfo.numCarte"
          name="numCarte"
          required
          #numCarte="ngModel"
          autofocus
          pattern="[0-9]{13,16}"
        />
        <span class="input-group-addon"
          ><span class="glyphicon glyphicon-lock"></span
        ></span>
      </div>
      <span
        *ngIf="numCarte.invalid && numCarte.touched"
        class="help-block"
        style="color: rgb(255, 80, 80)"
        >Merci d'entrer un numero de carte valide.</span
      >
    </div>
    <div class="row">
      <div class="col-xs-7 col-md-7">
        <div class="form-group">
          <label for="expityMonth"> DATE D'EXPIRATION</label>
          <div class="col-xs-6 col-lg-6 pl-ziro">
            <input
              type="number"
              class="form-control"
              id="expityMonth"
              placeholder="MM"
              [(ngModel)]="paymentInfo.moisCarte"
              name="moisCarte"
              #moisCarte="ngModel"
              required
              pattern="[0-9]{2}"
            />
            <span
              *ngIf="moisCarte.invalid && moisCarte.touched"
              class="help-block"
              style="color: rgb(255, 80, 80)"
              >Merci d'entrer un numero de mois valide.</span
            >
          </div>
          <div class="col-xs-6 col-lg-6 pl-ziro">
            <input
              type="number"
              class="form-control"
              id="expityYear"
              placeholder="YY"
              [(ngModel)]="paymentInfo.anneeCarte"
              name="anneeCarte"
              #anneeCarte="ngModel"
              required
              pattern="[0-9]{2}"
              min="19"
            />
            <span
              *ngIf="anneeCarte.invalid && anneeCarte.touched"
              class="help-block"
              style="color: rgb(255, 80, 80)"
              >Merci d'entrer une année valide.</span
            >
          </div>
        </div>
      </div>
      <div class="col-xs-5 col-md-5 pull-right">
        <div class="form-group">
          <label for="cvCode"> CODE CVV</label>
          <input
            type="number"
            class="form-control"
            id="cvCode"
            placeholder="CVV"
            [(ngModel)]="paymentInfo.cvvCarte"
            name="cvvCarte"
            #cvvCarte="ngModel"
            required
            pattern="[0-9]{3,4}"
          />
          <span
            *ngIf="cvvCarte.invalid && cvvCarte.touched"
            class="help-block"
            style="color: rgb(255, 80, 80)"
            >Merci d'entrer un code CVV valide.</span
          >
        </div>
      </div>
    </div>
    <br />
    <small class="form-text text-muted">
      NB: Nous ne partagerons jamais vos inormations avec qui que ce
      soit.</small
    >
    <small class="form-text text-muted">
      NB: Si vous continuez le paiement electronique sera effectué
      automatiquement.</small
    >
    <br />
    <div class="row">
      <button
        type="button"
        class="col previous-btn btn btn-default float-left"
        [routerLink]="['/order']"
      >
        Précedent
      </button>
      <button
        type="submit"
        class="col next-btn btn float-right"
        [disabled]="!f2.valid"
      >
        Confirmer
      </button>
    </div>
  </form>
</div>

<br />
<br />

<app-footer></app-footer>
