input[type='text']:focus:not([readonly]) + label {
  color: #c08e58;
}

input[type='text']:focus:not([readonly]) {
  border-bottom: 1px solid #c08e58;
  box-shadow: 0 1px 0 0 #c08e58;
}

.sign-in-btn {
  background-color: #c08e58;
  color: #fff;
}
.sign-in-btn:hover {
  background-color: #957755;
  color: #fff;
}
