<div class="displayTable card" id="forgot-body">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>
        Réinitialiser le mot de passe
      </h3>

      <p class="text-center">
        Veuillez entrer votre adresse email pour demander une réinitialisation
        du mot de passe.
      </p>

      <div class="formGroup">
        <input
          type="email"
          class="formControl"
          placeholder="Email Address"
          #passwordResetEmail
          required
        />
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input
          type="submit"
          class="btn btnPrimary"
          value="Reset Password"
          (click)="onForgotPassword(passwordResetEmail.value)"
        />
      </div>
    </div>

    <div class="redirectToLogin">
      <span
        >S'authentifier à nouveau ?
        <span class="redirect" routerLink="/sign-in">Se connecter</span></span
      >
    </div>
  </div>
</div>
