<div class="displayTable card" id="forgot-body">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>
        Réinitialiser le mot de passe
      </h3>

      <p class="text-center">
        Veuillez entrer votre adresse email pour demander une réinitialisation
        du mot de passe.
      </p>

      <div class="formGroup">
        <input
          type="email"
          class="formControl"
          placeholder="Email Address"
          #passwordResetEmail
          required
        />
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input
          type="submit"
          class="btn btnPrimary"
          value="Réinitialiser le mot de passe"
          (click)="onForgotPassword(passwordResetEmail.value)"
        />
      </div>
    </div>

    <div class="redirectToLogin" style="color: rgb(59, 59, 59);">
      S'authentifier à nouveau ?
      <a class="redirect" routerLink="/admin" style="color: rgb(66, 66, 243);"
        >Se connecter</a
      >
    </div>
  </div>
</div>
