.llh-icons {
  margin-top: 15px;
  font-size: 30px;
  color: #05582d;
}
.llh-box {
  height: 65px;
  background-color: #f2f2f2;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.llh-text {
  text-align: center;
}
.ajouter-btn {
  background-color: #c08e58;
  color: white;
}
.ajouter-btn:hover {
  background-color: #a77847;
  color: white;
}
/* Mobile */
@media screen and (max-width: 767px) {
  .llh-box {
    height: 65px;
    background-color: #f2f2f2;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
}
